<div class="p-5 text-center ">

    <h1 class="mb-3">Las peliculas más esperadas en 2023</h1>
    <h4 class="mb-3">Bienvenido al control de cine</h4>
  
    <carousel>
      <slide>
          <img src="assets/img/dragones.jpg">
          <div class="carousel-caption">Dragones</div>
        </slide>
      <slide>
        <img src="assets/img/mario.png">
        <div class="carousel-caption">Mario</div>
      </slide>
      <slide>
        <img src="assets/img/holy.jpg">
        <div class="carousel-caption">Holy</div>
      </slide>
    </carousel>
  
  </div>
